<!----Home Page with base page Elements---->
{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!----Title Block---->
{% block title %}Women in Technology{% endblock %}
<!----Content Block---->
{% block page_content %}

<!--Title Div start-->
<div class="container-fluid bg-white text-center"></div>
<center>
    <h1>Stats</h1>
</center>
</div>
<!--Title Div ends-->

<!--SECTION 3  Start ------------------------------------------->
<!-- Start of Accordian DIV for section 3-->
<div class="panel-group" bg-primary id="accordion">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Collapsible Group 1</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Collapsible Group 2</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Collapsible Group 3</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
</div>
<!--END of Accordian DIV for section 2-->

<div class="col-md-4">
    <div class="thumbnail">
        <a href='https://postimg.cc/0rGt6yCx' target='_blank'>
            <img src='https://i.postimg.cc/G3V65B8B/3216695.jpg' border='0' alt='3216695' style="width:100%">
            <!--/>-->
            <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}
<!----End Content Block---->