<!----Home Page with base page Elements---->
{% extends 'base.html' %}
{% import 'macros.html' as macros %}
<!----Title Block---->
<!-- {% block title %}Women in Technology{% endblock %} -->


<!----Content Block---->
{% block page_content %}

<!----jumbotron Div Starts------>
<div class="jumbotron bg-gradient-primary text-center ">
    <!--H1 HEADER-->
    <h1>WOMEN IN TECH</h1>
    <!--Paragraph-->
    <p> The State of Women In Technology Roles </p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/DenishaYP-creator/WomenInTech"><span
            class="glyphicon glyphicon-download"></span> GitHub Repo</a>
</div>
<!----jumbotron Div End ---->


<!--Section Div Start -->
<!----Section 1 Start ---------------------->
<div class=" container-fluid bg-secondary text-left">
    <!--ROW-Start-->
    <div class="row">
        <!--Small ContainerDiv-Start -->
        <div class="col-sm-4">
            <center>
                <h1>Divider One</h1>
            </center>
            <p> Ac turpis egestas integer eget aliquet nibh praesent.
                In aliquam sem fringilla ut morbi tincidunt augue interdum velit.
                At erat pellentesque adipiscing commodo elit at.
                Phasellus vestibulum lorem sed risus ultricies.
                Consequat ac felis donec et odio pellentesque diam volutpat commodo.
                Venenatis lectus magna fringilla urna.
                Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et.
                Eu consequat ac felis donec et odio pellentesque.
                Quis viverra nibh cras pulvinar mattis nunc sed blandit libero.
                Sagittis purus sit amet volutpat consequat mauris nunc congue nisi.
                Lacus sed turpis tincidunt id aliquet risus. </p>
        </div>
        <!--Small ContainerDiv-End -->
        <!--Large Container Div- Start-->
        <div class="col-sm-8">
            <figure class="figure">
                <a href='https://postimg.cc/0rGt6yCx' target='_blank'>
                    <img src='https://i.postimg.cc/G3V65B8B/3216695.jpg' border='0' alt='3216695' style="width:100%">
                </a>
                <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
            </figure>

        </div>
        <!--Large ContainerDiv-End -->
    </div>
    <!--ROW End -->
</div>
<!--Section Div Ends  -->
<!----Section 1 end  ---------------------->
<hr>

<!--SECTION 2 Starts---------------------------------------------------->
<div class="container-fluid bg-secondary text-left">
    <!--ROW  Starts-->
    <div class="row">
        <!--Large Container Div- Start-->
        <div class="col-sm-8">
            <figure class="figure">
                <a href='https://postimg.cc/0rGt6yCx' target='_blank'>
                    <img src='https://i.postimg.cc/G3V65B8B/3216695.jpg' border='0' alt='3216695' style="width:100%">
                </a>
                <!-- <figcaption class=" figure-caption">A caption for the above image.</figcaption> -->
            </figure>
        </div>
        <!--Large Container-End -->
        <!--Small Container-Start -->
        <div class="col-sm-4">
            <center>
                <h1>Divider Two</h1>
            </center>
            <p> Ac turpis egestas integer eget aliquet nibh praesent.
                In aliquam sem fringilla ut morbi tincidunt augue interdum velit.
                At erat pellentesque adipiscing commodo elit at.
                Phasellus vestibulum lorem sed risus ultricies.
                Consequat ac felis donec et odio pellentesque diam volutpat commodo.
                Venenatis lectus magna fringilla urna.
                Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et.
                Eu consequat ac felis donec et odio pellentesque.
                Quis viverra nibh cras pulvinar mattis nunc sed blandit libero.
                Sagittis purus sit amet volutpat consequat mauris nunc congue nisi.
                Lacus sed turpis tincidunt id aliquet risus. </p>
        </div>
        <!--Small Container-End -->
    </div>
    <!--ROW End  -->
</div>
<!--Section 2 Div Ends  -->
<hr>


<!--Section Div Start -->
<!----Section 3 Start ---------------------->
<div class=" container-fluid bg-secondary text-left">
    <!--ROW-Start-->
    <div class="row">
        <!--Small ContainerDiv-Start -->
        <div class="col-sm-4">
            <center>
                <h1>Divider One</h1>
            </center>
            <p> Ac turpis egestas integer eget aliquet nibh praesent.
                In aliquam sem fringilla ut morbi tincidunt augue interdum velit.
                At erat pellentesque adipiscing commodo elit at.
                Phasellus vestibulum lorem sed risus ultricies.
                Consequat ac felis donec et odio pellentesque diam volutpat commodo.
                Venenatis lectus magna fringilla urna.
                Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et.
                Eu consequat ac felis donec et odio pellentesque.
                Quis viverra nibh cras pulvinar mattis nunc sed blandit libero.
                Sagittis purus sit amet volutpat consequat mauris nunc congue nisi.
                Lacus sed turpis tincidunt id aliquet risus. </p>
        </div>
        <!--Small ContainerDiv-End -->
        <!--Large Container Div- Start-->
        <div class="col-sm-8">
            <figure class="figure">
                <a href='https://postimg.cc/0rGt6yCx' target='_blank'>
                    <img src='https://i.postimg.cc/G3V65B8B/3216695.jpg' border='0' alt='3216695' style="width:100%">
                </a>
                <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
            </figure>

        </div>
        <!--Large ContainerDiv-End -->
    </div>
    <!--ROW End -->
</div>
<!--Section Div Ends  -->
<!----Section 3 end  ---------------------->
<hr>

<!--SECTION 4 Starts---------------------------------------------------->
<div class="container-fluid bg-secondary text-left">
    <!--ROW  Starts-->
    <div class="row">
        <!--Large Container Div- Start-->
        <div class="col-sm-8">
            <figure class="figure">
                <a href='https://postimg.cc/0rGt6yCx' target='_blank'>
                    <img src='https://i.postimg.cc/G3V65B8B/3216695.jpg' border='0' alt='3216695' style="width:100%">
                </a>
                <!-- <figcaption class=" figure-caption">A caption for the above image.</figcaption> -->
            </figure>
        </div>
        <!--Large Container-End -->
        <!--Small Container-Start -->
        <div class="col-sm-4">
            <center>
                <h1>Divider Two</h1>
            </center>
            <p> Ac turpis egestas integer eget aliquet nibh praesent.
                In aliquam sem fringilla ut morbi tincidunt augue interdum velit.
                At erat pellentesque adipiscing commodo elit at.
                Phasellus vestibulum lorem sed risus ultricies.
                Consequat ac felis donec et odio pellentesque diam volutpat commodo.
                Venenatis lectus magna fringilla urna.
                Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et.
                Eu consequat ac felis donec et odio pellentesque.
                Quis viverra nibh cras pulvinar mattis nunc sed blandit libero.
                Sagittis purus sit amet volutpat consequat mauris nunc congue nisi.
                Lacus sed turpis tincidunt id aliquet risus. </p>
        </div>
        <!--Small Container-End -->
    </div>
    <!--ROW End  -->
</div>
<!--Section 4 Div Ends  -->
<hr>
{% endblock %}
<!----End Content Block---->